<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}ZabGU DevSecOps Hub{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body class="bg-gray-50 text-gray-900">
    <header class="bg-[#212020] text-white px-6 py-4 flex justify-center">
      <a href="/" class="font-semibold">ZabGU DevSecOps Hub</a>
    </header>
    <main class="max-w-4xl mx-auto px-6 py-28">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
